.user-list {
    padding: 20px;
    background-color: #f9f9f9;

    &__content {
      background-color: #fff;
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
  

    &__title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 18px;
      color: #000000;
    }
  
  
    &__details {
      background-color: #fff;
      padding: 1rem;
      border: 1px solid #ddd;
      border-radius: 4px;
  
      &-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
  
      &-item {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
    }

    &__pagination{
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }
  }